<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GithubProfile</title>
    <style>

      * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      
    </style>
  </head>
  <body>
    
    <h1>GithubProfile</h1>
    
    <form action="/report" method="post" enctype="multipart/form-data">
      <p>
        Github profile:<br>
        <input type="text" name="profile">
      </p>
      <p>
        CSV:<br>
        <input type="file" name="csv" accept=".csv">
      </p>
      <div>
        <input type="submit" value="Send">
      </div>
    </form>
   
  </body>
</html>