<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GithubProfile</title>
    <style>

      .form {
        width: 500px;
        margin: 50px auto;
      }
      
    </style>

    <link rel="stylesheet" href="styles/main.css">
  </head>
  <body>
    <div class="container">
      <a href="/">
        <h1 class="center">GithubProfile reports</h1>
      </a>
      
      <section class="instructions">

        <h3>Step 1</h3>
        <ul>
          <li>Go to <a href="https://code.google.com/apis/console/">Google APIs</a>.</li>
          <li>Click <strong>"Create Project"</strong>, if asked. </li>
          <li>Under <strong>"Services"</strong>, turn on <strong>BigQuery API</strong>.</li>
        </ul>

        <h3>Step 2</h3>
        <ul>
          <li>Go to <a href="https://bigquery.cloud.google.com/table/githubarchive:github.timeline">githubarchive:github.timeline table</a> at BigQuery and click <strong>"Query Table"</strong> in the top right corner.</li>
          <li>Paste this query, change <strong>"USERNAME"</strong> to target GitHub username:

          <code>
              SELECT type, created_at FROM [githubarchive:github.timeline]
              WHERE actor = "USERNAME"
          </code>
          </li>

          <li>Hit <strong>"Run Query"</strong> and <strong>"Download as CSV"</strong>.</li>
        </ul>

        <h3>Step 3</h3>
        <ul>
          <li>Type GitHub username.</li>
          <li>Select Timezone</li>
          <li>Upload CSV file.</li>
        </ul>
      </section>

      <section class="form">
        <form action="/report" method="post" enctype="multipart/form-data" class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="inputProfile">
              Github profile:
            </label>
            <div class="controls">
              <input class="input-medium input-field" type="text" name="profile" placeholder="janantala" id="inputProfile">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputTimezone">
              Timezone:
            </label>
            <div class="controls">
              <input class="input-medium input-field" type="text" name="timezone" value="Europe/Bratislava" placeholder="Europe/Bratislava" id="inputTimezone" required >
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="inputCSV">
              CSV:
            </label>
            <div class="controls">
              <input type="file" class="input-field" name="csv" accept=".csv" id="inputCSV" required >
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="btn btn-success">Show me reports!</button>
            </div>
          </div>
        </form>

      </section>

    </div>
  </body>
</html>