<h2 class="center">Analytics {{routeParams.profile}}</h2>

<section class="events">
  <div class="btn-group">
    <button type="button" class="btn btn-success" ng-model="checkEvent.push" btn-checkbox ng-change="changeEvents()">
      PushEvent
    </button>
    <button type="button" class="btn btn-success" ng-model="checkEvent.pullrequest" btn-checkbox ng-change="changeEvents()">
      PullRequestEvent
    </button>
    <button type="button" class="btn btn-success" ng-model="checkEvent.issues" btn-checkbox ng-change="changeEvents()">
      IssuesEvent
    </button>
  </div>
</section>

<section class="year chart">
  <h4 class="center">Year</h4>
  <div class="flex-container">
    <div class="flex-row title text">
      Month
    </div>
    <div class="flex-row text" ng-repeat="month in months">
      {{strings.SHORTMONTH[$index]}}
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-row title text">
      Contributions
    </div>
    <div class="flex-row"
      ng-repeat="month in analytics.yearArr"
      ng-class="getContributionClass(getTotal(month, events), maxYear)"
      tooltip-html-unsafe="{{getTooltip(month, events)}}"
    >
      <!-- {{getTotal(month, events)}} -->
    </div>
  </div>
</section>

<section class="week chart">
<h4 class="center">Week</h4>
  <div class="flex-container">
    <div class="flex-row title text">
      Day
    </div>
    <div class="flex-row text" ng-repeat="day in days">
      {{strings.SHORTDAY[$index]}}
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-row title text">
      Contributions
    </div>
    <div class="flex-row"
      ng-repeat="day in analytics.weekArr"
      ng-class="getContributionClass(getTotal(day, events), maxWeek)"
      tooltip-html-unsafe="{{getTooltip(day, events)}}"
    >
      <!-- {{getTotal(day, events)}} -->
    </div>
  </div>
</section>

<section class="day chart">
  <h4 class="center">Day</h4>
  <div class="flex-container">
    <div class="flex-row title text">
      Hour
    </div>
    <div class="flex-row text" ng-repeat="hour in hours">
      {{hour}}
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-row title text">
      Contributions
    </div>
    <div class="flex-row"
      ng-repeat="hour in analytics.dayArr"
      ng-class="getContributionClass(getTotal(hour, events), maxDay)"
      tooltip-html-unsafe="{{getTooltip(hour, events)}}"
    >
      <!-- {{getTotal(hour, events)}} -->
    </div>
  </div>
</section>


<section class="weekhours chart">
  <h4 class="center">WeekHours</h4>
  <div class="flex-container">
    <div class="flex-row title text">
      Day / Hour
    </div>
    <div class="flex-row text" ng-repeat="hour in dayHours">
      {{hour}}
    </div>
  </div>

  <div ng-repeat="day in analytics.weekhoursArr" class="flex-container">
    <div class="flex-row title text">
      {{strings.DAY[$index]}}
    </div>
    <div class="flex-row"
      ng-repeat="hour in day"
      ng-class="getContributionClass(getTotal(hour, events), maxWeekHours)"
      tooltip-html-unsafe="{{getTooltip(hour, events)}}"
    >
      <!-- {{getTotal(hour, events)}} -->
    </div>
  </div>
</section>
