<h2>Analytics {{routeParams.profile}}</h2>

<section class="year">
  <h4>Year</h4>
  <ul>
    <li ng-repeat="month in analytics.yearArr">
      {{$index}}: {{getTotal(analytics.yearArr[$index], events)}}
      <ul>
        <li ng-repeat="event in events">
          {{event}}: {{analytics.yearArr[$parent.$index][event]}}
        </li>
      </ul>
    </li>
  </ul>
</section>

<section class="week">
<h4>Week</h4>
  <div class="flex-container">
    <div class="flex-row title">
      <strong>Day</strong>
    </div>
    <div class="flex-row" ng-repeat="day in days">
      <strong>{{day}}</strong>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-row title">
      <strong>Contributions</strong>
    </div>
    <div class="flex-row"
      ng-repeat="day in analytics.weekArr"
      ng-class="getContributionClass(getTotal(day, events), maxWeek)"
      tooltip-html-unsafe="{{getTooltip(day, events)}}"
    >
      {{getTotal(day, events)}}
    </div>
  </div>
</section>

<section class="day">
  <h4>Day</h4>
  <div class="flex-container">
    <div class="flex-row title">
      <strong>Hour</strong>
    </div>
    <div class="flex-row" ng-repeat="hour in hours">
      <strong>{{hour}}</strong>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-row title">
      <strong>Contributions</strong>
    </div>
    <div class="flex-row"
      ng-repeat="hour in analytics.dayArr"
      ng-class="getContributionClass(getTotal(hour, events), maxDay)"
      tooltip-html-unsafe="{{getTooltip(hour, events)}}"
    >
      {{getTotal(hour, events)}}
    </div>
  </div>
</section>


<section class="weekhours">
  <h4>WeekHours</h4>
  <div class="flex-container">
    <div class="flex-row title">
      <strong>Day</strong>
    </div>
    <div class="flex-row" ng-repeat="hour in dayHours">
      <strong>{{hour}}</strong>
    </div>
  </div>

  <div ng-repeat="day in analytics.weekhoursArr" class="flex-container">
    <div class="flex-row title">
      <strong>{{strings.DAY[$index]}}</strong>
    </div>
    <div class="flex-row"
      ng-repeat="hour in day"
      ng-class="getContributionClass(getTotal(hour, events), maxWeekHours)"
      tooltip-html-unsafe="{{getTooltip(hour, events)}}"
    >
      {{getTotal(hour, events)}}
    </div>
  </div>
</section>
